.post__text__box {
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
}
.post__box {
  padding: 20px;
  height: 90px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  justify-content: space-between;
  margin-bottom: 20px;
}
